<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.university.mapper.QuestionMapper">

    <select id="getAllType" resultType="com.work.university.domain.Selector">
        select type as selectValue,type_name as selectLabel, type as selectKey
        from question_type
    </select>

    <select id="getSubject" resultType="com.work.university.domain.Selector">
        select subject_id as selectValue,subject_name as selectLabel, subject_id as selectKey
        from subject
    </select>

    <select id="getChapter" parameterType="string" resultType="com.work.university.domain.Selector">
        select chapter_id as selectValue,chapter as selectLabel, chapter_id as selectKey
        from chapter
        where subject_id = #{subjectId}
    </select>

    <select id="getQuestion" parameterType="com.work.university.domain.question.TestQuestion" resultType="com.work.university.domain.question.TestQuestion">
        select q.question_id, q.content, q.answer, q.count, t.type, t.type_name, s.subject_id, s.subject_name as subject,c.chapter_id, c.chapter ,q.difficulty, q.master, user.username as masterName, q.create_time, q.update_time, q.update_user, q.permission, q.star, q.del_flag
        from test_question as q
        inner join question_knowledge as k on k.question_id = q.question_id
        left join user on user.user_id	= q.master
        left join subject as s on s.subject_id = k.subject_id
        left join question_type as t on t.type = k.type
        left join chapter as c on c.chapter_id = k.chapter_id
        <where>
            <if test="questionId != null  and questionId >0"> and q.question_id = #{questionId}</if>
            <if test="type != null and type >0"> and k.type = #{type}</if>
            <if test="subject != null and subject >0"> and q.subject_id = #{subject}</if>
            <if test="master != null and master != ''"> and q.master = #{master}</if>
            <if test="chapter != null and chapter != ''"> and k.chapter_id = #{chapter}</if>
            <if test="content != null and content != ''">and q.content like concat('%',#{content},'%')</if>
        </where>
    </select>

    <select id="getQuestionByIds" parameterType="String" resultType="com.work.university.domain.question.TestQuestion">
    select q.question_id, q.content, q.answer, q.count, t.type, t.type_name, s.subject_id, s.subject_name as subject,c.chapter_id, c.chapter ,q.difficulty, q.master, user.username as masterName, q.create_time, q.update_time, q.update_user, q.permission, q.star, q.del_flag
        from test_question as q
        inner join question_knowledge as k on k.question_id = q.question_id
        left join user on user.user_id	= q.master
        left join subject as s on s.subject_id = k.subject_id
        left join question_type as t on t.type = k.type
        left join chapter as c on c.chapter_id = k.chapter_id
        <where>
            <if test="idString != ''">  and q.question_id in
                <foreach item="item" index="index" collection="idString.split(',')" open="(" separator="," close=")">
                    <if test="item != null and item != ''">#{item}</if>
                </foreach>
            </if>
        </where>
    </select>

    <select id="getQuestionThroughPaperGenerate" parameterType="com.work.university.domain.question.TestQuestion" resultType="com.work.university.domain.question.TestQuestion">
        select q.question_id, q.content, q.answer, q.count, t.type, t.type_name, s.subject_name as subject, c.chapter_id , c.chapter, q.difficulty, q.master, user.username as masterName, q.create_time, q.update_time, q.update_user, q.permission, q.star, q.del_flag
        from test_question as q
        inner join question_knowledge as k on k.question_id = q.question_id
        left join user on user.user_id	= q.master
        left join subject as s on s.subject_id = k.subject_id
        left join question_type as t on t.type = k.type
        left join chapter as c on c.chapter_id = k.chapter_id
        <where>
            <if test="questionId != null  and questionId >0"> and q.question_id != #{questionId}</if>
            <if test="type != null and type >0"> and k.type = #{type}</if>
            <if test="chapterId != null and chapterId != ''"> and k.chapter_id in
                <foreach item="item" index="index" collection="chapterId.split(',')" open="(" separator="," close=")">
                    <if test="item != null and item != ''">#{item}</if>
                </foreach>
            </if>

        </where>
    </select>

    <insert id="saveQuestion" parameterType="com.work.university.domain.question.TestQuestion" useGeneratedKeys="true" keyProperty="questionId">
        insert into test_question
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="content != null and content != ''">content,</if>
                    <if test="answer != null">answer,</if>
                    <if test="count != null">count,</if>
                    <if test="type != null">type,</if>
                    <if test="subject != null">subject_id,</if>
                    <if test="difficulty != null">difficulty,</if>
                    <if test="createTime != null">create_time,</if>
                    <if test="master != null">master,</if>
                    <if test="updateTime != null">update_time,</if>
                    <if test="updateUser != null">update_user,</if>
                    <if test="permission != null">permission,</if>
                    <if test="star != null">star,</if>
                    <if test="delFlag != null">del_flag,</if>
                 </trim>
                <trim prefix="values (" suffix=")" suffixOverrides=",">
                    <if test="content != null and content != ''">#{content},</if>
                    <if test="answer != null">#{answer},</if>
                    <if test="count != null">#{count},</if>
                    <if test="type != null">#{type},</if>
                    <if test="subject != null">#{subject},</if>
                    <if test="difficulty != null">#{difficulty},</if>
                    <if test="createTime != null">#{createTime},</if>
                    <if test="master != null">#{master},</if>
                    <if test="updateTime != null">#{updateTime},</if>
                    <if test="updateUser != null">#{updateUser},</if>
                    <if test="permission != null">#{permission},</if>
                    <if test="star != null">#{star},</if>
                    <if test="delFlag != null">#{delFlag}</if>
                 </trim>
    </insert>

    <insert id="saveQuestionKnowledge" parameterType="com.work.university.domain.question.TestQuestion" useGeneratedKeys="true" keyProperty="questionId">
        insert into question_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">question_id,</if>
            <if test="subject != null">subject_id,</if>
            <if test="type != null">type,</if>
            <if test="chapter != null">chapter_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="master != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">#{questionId},</if>
            <if test="subject != null">#{subject},</if>
            <if test="type != null">#{type},</if>
            <if test="chapter != null">#{chapter},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="master != null">#{master},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="delFlag != null">#{delFlag}</if>
        </trim>
    </insert>

    <insert id="saveQuestionSingleChoose" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="choosedId">
        insert into single_choose (question_id, choosed_content)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.questionId},
            #{item.choosedContent}
            )
        </foreach>
    </insert>
    <select id="getQuestionSingleChoose" parameterType="String" resultType="com.work.university.domain.question.SingleChoose">
        select choosed_id, question_id, choosed_content
        from single_choose
        <where> question_id in
            <foreach item="item" index="index" collection="questionId.split(',')" open="(" separator="," close=")">
                <if test="item != null and item != ''">#{item}</if>
            </foreach>
        </where>
    </select>

    <update id="modifyQuestion" parameterType="com.work.university.domain.question.TestQuestion">
        update test_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="answer != null">answer = #{answer},</if>
            <if test="count != null">count = #{count},</if>
            <if test="type != null">type = #{type},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="difficulty != null">difficulty = #{difficulty},</if>
            <if test="master != null">master = #{master},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="permission != null">permission = #{permission},</if>
            <if test="star != null">star = #{star},</if>
            <if test="delFlag != null">del_flag = #{delFlag}</if>
        </trim>
        where question_id = #{questionId}
    </update>


<!--    <sql id="selectTopicVo">-->
<!--        select id, content, begin_date, end_date, time from ido_topic-->
<!--    </sql>-->

<!--    <select id="selectTopicList" parameterType="Topic" resultMap="TopicResult">-->
<!--        <include refid="selectTopicVo"/>-->
<!--        <where>  -->
<!--            <if test="content != null  and content != ''"> and content = #{content}</if>-->
<!--            <if test="time != null "> and time = #{time}</if>-->
<!--        </where>-->
<!--    </select>-->
<!--    -->
<!--    <select id="selectTopicById" parameterType="Long" resultMap="TopicResult">-->
<!--        <include refid="selectTopicVo"/>-->
<!--        where id = #{id}-->
<!--    </select>-->
<!--        -->
<!--    <insert id="insertTopic" parameterType="Topic" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into ido_topic-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="content != null and content != ''">content,</if>-->
<!--            <if test="beginDate != null">begin_date,</if>-->
<!--            <if test="endDate != null">end_date,</if>-->
<!--            <if test="time != null">time,</if>-->
<!--         </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="content != null and content != ''">#{content},</if>-->
<!--            <if test="beginDate != null">#{beginDate},</if>-->
<!--            <if test="endDate != null">#{endDate},</if>-->
<!--            <if test="time != null">#{time},</if>-->
<!--         </trim>-->
<!--    </insert>-->

<!--    <update id="updateTopic" parameterType="Topic">-->
<!--        update ido_topic-->
<!--        <trim prefix="SET" suffixOverrides=",">-->
<!--            <if test="content != null and content != ''">content = #{content},</if>-->
<!--            <if test="beginDate != null">begin_date = #{beginDate},</if>-->
<!--            <if test="endDate != null">end_date = #{endDate},</if>-->
<!--            <if test="time != null">time = #{time},</if>-->
<!--        </trim>-->
<!--        where id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteTopicById" parameterType="Long">-->
<!--        delete from ido_topic where id = #{id}-->
<!--    </delete>-->

<!--    <delete id="deleteTopicByIds" parameterType="String">-->
<!--        delete from ido_topic where id in -->
<!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->


</mapper>
