<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.university.mapper.UserMapper">

    <select id="getUserInfo" parameterType="Integer" resultType="com.work.university.domain.user.User">
        select * from user
        where user_id = #{userId} and del_flag = '0'
    </select>

    <insert id="register" parameterType="com.work.university.domain.user.User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        (username, password, create_time, user_type)
        values (#{username},#{password}, #{createTime},#{userType})
    </insert>

    <update id="updateUserInfo" parameterType="com.work.university.domain.user.User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="department != null">department = #{department},</if>
            <if test="difficulty != null">difficulty = #{difficulty},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where user_id = #{userId}
    </update>
    <select id="verifyUserExit" parameterType="com.work.university.domain.user.User" resultType="Integer">
        select count(1)
        from user where username = #{username} and del_flag = '0'
    </select>
    <select id="verifyUser" parameterType="com.work.university.domain.user.User" resultType="Integer">
        select count(1)
        from user where username = #{username} and password = #{password} and del_flag = '0'
    </select>

</mapper>
